<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="StatementMapper">

	<resultMap type="statement" id="statementSelectMap">
		<result property="statementNo" 					column="statement_no" 					jdbcType="VARCHAR"/>
		<result property="tradeTargetName" 				column="trade_target_name" 				jdbcType="VARCHAR"/>
		<result property="tradeDate" 					column="trade_date" 					jdbcType="VARCHAR"/>
		<result property="accountNo" 					column="account_no" 					jdbcType="VARCHAR"/>
		<result property="tradeAmount" 					column="trade_amount" 					jdbcType="VARCHAR"/>
		<result property="statementCategoryCodeNo" 		column="statement_category_code_no" 	jdbcType="VARCHAR"/>
		<result property="statementCategoryCodeName" 	column="statement_category_code_name" 	jdbcType="VARCHAR"/>
		<result property="statementUsageStatusCodeNo" 	column="usage_status_code_no" 			jdbcType="VARCHAR"/>
		<result property="statementDetail" 				column="statement_detail" 				jdbcType="VARCHAR"/>
	</resultMap>
	
	<insert id="insertStatement" parameterType="statement">
		INSERT 
		INTO statement ( 
			statement_no, 
			trade_target_name, 
			trade_date, 
			account_no, 
			trade_amount,
			statement_category_code_no, 
			usage_status_code_no,
			statement_detail
		) 
		VALUES ( 
			seq_statement_no.NEXTVAL,
			#{tradeTargetName},
			#{tradeDate},
			#{accountNo},
			#{tradeAmount},
			#{statementCategoryCodeNo},
			'01',
			#{statementDetail}
			<selectKey keyProperty="statementNo" resultType="string" order="AFTER">
				SELECT seq_statement_no.CURRVAL FROM DUAL
			</selectKey>
		)
	</insert>
	
	<select id="selectStatementDetail" parameterType="string" resultMap="statementSelectMap">
		SELECT 
			statement_no,
			trade_target_name,
			trade_date,
			account_no,
			trade_amount,
			statement_category_code_no,
			CODE_FUNCTION('statementCategory', statement_category_code_no) AS statement_category_code_name,
			statement_detail
		FROM
			statement
		WHERE
			statement_no = #{value}
	</select>
	
	<update id="updateStatement" parameterType="statement">
		UPDATE statement
			<set>
				trade_target_name = #{tradeTargetName},
				trade_date = #{tradeDate},
				account_no = #{accountNo},
				trade_amount = #{tradeAmount},
				statement_category_code_no = #{statementCategoryCodeNo},
				statement_detail = #{statementDetail}
			</set>
		WHERE statement_no = #{statementNo}
	</update>
	
	<update id="updateStatementUsageStatus" parameterType="statement">
		UPDATE statement
			<set>
				usage_status_code_no = #{statementUsageStatusCodeNo}
			</set>
		WHERE statement_no = #{statementNo}
	</update>
	
	<select id="selectStatementList" parameterType="search" resultMap="statementSelectMap">
		SELECT
			statement_no,
			trade_date,
			statement_detail,
			trade_amount,
			CODE_FUNCTION('statementCategory', statement_category_code_no) AS statement_category_code_name
		FROM
			statement
		<where>
			usage_status_code_no = '01'
			<if test="searchCondition != null and searchCondition !=''">
				AND statement_category_code_no = #{searchCondition}
			</if>
			<if test="searchKeyword != null and searchKeyword != ''">
				AND (statement_no LIKE '%'||#{searchKeyword}||'%'
				OR LOWER(statement_detail) LIKE '%'||#{searchKeyword}||'%')
			</if>
		</where>
		ORDER BY trade_date DESC, statement_no DESC
	</select>
	
</mapper>