<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="OrderFromBranchMapper">
 		
	<resultMap id="orderFromBranchSelectMap" type="orderFromBranch">
		<result property="statementNo" column="STATEMENT_NO" jdbcType="VARCHAR"/>
		<result property="orderFromBranchNo" column="ORDER_FROM_BRANCH_NO" jdbcType="VARCHAR" />
		<result property="orderFromBranchStatusCodeNo" column="ORDER_BRANCH_STATUS_CODE" jdbcType="VARCHAR" />
		<result property="orderFromBranchStatusCodeName" column="BRANCH_STATUS_CODE_NAME" jdbcType="VARCHAR" />
		<result property="orderFromBranchTotalAmount" column="TOTAL_ORDER_AMOUNT" jdbcType="VARCHAR" />
		<result property="branchName" column="fnc_BRANCH_Name" jdbcType="VARCHAR" />
		<result property="branchNo" column="BRANCH_NO" jdbcType="VARCHAR" />
		<result property="orderDate" column="ORDER_DATE" jdbcType="VARCHAR" />
	   
	    <collection property="orderFromBranchProductList" ofType="orderFromBranchProduct">
	      <result property="numbering" column="ORDER_BRANCH_PRODUCT_NUMBERING" jdbcType="VARCHAR"/>
	      <result property="productNo" column="PRODUCT_NO" jdbcType="VARCHAR"/>
	      <result property="productName" column="PRODUCT_Name" jdbcType="VARCHAR"/>
	      <result property="price" column="order_price" jdbcType="VARCHAR"/>
	      <result property="orderFromBranchProductStatusCodeNo" column="ORDER_BRANCH_PROD_STATUS_CODE" jdbcType="VARCHAR"/>
	      <result property="orderFromBranchProductStatusCodeName" column="ORDER_PROD_STATUS_NAME" jdbcType="VARCHAR"/>
	      <result property="orderFromBranchNo" column="ORDER_FROM_BRANCH_NO" jdbcType="VARCHAR"/>
	      <result property="orderFromBranchProductQuantity" column="ORDER_QUANTITY" jdbcType="VARCHAR"/>
	      <result property="orderFromBranchProductAmount" column="AMOUNT" jdbcType="VARCHAR"/>
	    </collection>
	    
	</resultMap>
	
	<!-- [지점]주문요청-주문서등록 -->
	<insert 	id="insertOrderFromBranch"		parameterType="orderFromBranch" >
		<selectKey keyProperty="orderFromBranchNo" resultType="string" order="AFTER">
	    	select seq_order_from_branch_no.currval FROM DUAL
	  	</selectKey>
	 	INSERT
			INTO order_from_branch
					( 
					order_from_branch_no
				,	branch_no
				,	statement_no
				, 	order_date
				, 	total_order_amount
				,	order_branch_status_code
					) 
			VALUES	 
					(
					seq_order_from_branch_no.nextval
				, 	#{branchNo}
				, 	#{statementNo}
				, 	#{orderDate}
				, 	#{orderFromBranchTotalAmount}
				, 	'01'
					)
	</insert>
	
	<!-- [지점]주문요청-주문물품등록 -->
	<insert 	id="insertOrderFromBranchProduct"		parameterType="orderFromBranchProduct" >
	 	INSERT
			INTO order_from_branch_product
				( 
			  	  order_branch_product_numbering
			  ,   order_from_branch_no
			  ,   product_no
			  ,   order_quantity
			  ,   order_price
			  ,   amount
			  ,   order_branch_prod_status_code
				) 
		VALUES	 
				(	
				seq_order_branch_prod.nextval
			, 	#{orderFromBranchNo}
			, 	#{productNo}
			,	#{orderFromBranchProductQuantity}
			, 	#{price}
			, 	#{orderFromBranchProductAmount}
			, 	'01'
				)
	</insert>
	 
	<!-- [본사, 지점]주문서상태변경(주문취소요청, 주문취소확정, 주문완료) -->
	<update	id="updateOrderFromBranchStatus" parameterType="orderFromBranch" >
	   	UPDATE order_from_branch
	   	<set>
	   		order_branch_status_code = #{orderFromBranchStatusCodeNo}
	   	</set>
	   	WHERE order_from_branch_no = #{orderFromBranchNo}
	</update>
	
	<!-- 주문서 리스트 가져오기(주문물품 채워서) 지점번호 searchKeyword에 채우기-->
	<select 	id="selectOrderFromBranch"	parameterType="search"	resultMap="orderFromBranchSelectMap">
		SELECT ob.order_from_branch_no
			 , ob.branch_no
			 , ob.statement_no
			 , ob.order_date
			 , ob.total_order_amount
			 , ob.order_branch_status_code
			 , CODE_FUNCTION('orderBranch'
			 , order_branch_status_code)AS BRANCH_STATUS_CODE_NAME
			 , BRANCH_NAME_FUNCTION(branch_no) AS fnc_branch_name
			 , op.order_branch_product_numbering
			 , op.order_from_branch_no
			 , op.product_no
			 , op.order_quantity
			 , op.order_price
			 , op.amount
			 , op.order_branch_prod_status_code
			 , CODE_FUNCTION('orderBranchItem', ORDER_BRANCH_PROD_STATUS_CODE)AS ORDER_PROD_STATUS_NAME
			 , p.product_name 		
		FROM   order_from_branch ob
			 , order_from_branch_product op
			 , product p
		<where>
			 ob.order_from_branch_no = op.order_from_branch_no(+) 
			 AND op.product_no = p.product_no(+)
		<if test="searchKeyword!=null">
			 AND branch_no=#{searchKeyword}
		</if>
		</where>
		ORDER BY ob.order_from_branch_no DESC
	</select>
	
	<!-- 주문서 가져오기(주문물품 채워서) 주문서번호 searchKeyword에 채우기-->
	<select 	id="selectOrderFromBranchDetail"	parameterType="search"	resultMap="orderFromBranchSelectMap">
		SELECT ob.order_from_branch_no
			 , ob.branch_no
			 , ob.statement_no
			 , ob.order_date
			 , ob.total_order_amount
			 , ob.order_branch_status_code
			 , CODE_FUNCTION('orderBranch', order_branch_status_code)AS BRANCH_STATUS_CODE_NAME
			 , BRANCH_NAME_FUNCTION(branch_no) AS fnc_branch_name
			 , op.order_branch_product_numbering
			 , op.order_from_branch_no
			 , op.product_no
			 , op.order_quantity
			 , op.order_price
			 , op.amount
			 , op.order_branch_prod_status_code
			 , CODE_FUNCTION('orderBranchItem', ORDER_BRANCH_PROD_STATUS_CODE)AS ORDER_PROD_STATUS_NAME
			 , p.product_name 		
		FROM   order_from_branch ob
			 , order_from_branch_product op
			 , product p
		<where>
			ob.order_from_branch_no = op.order_from_branch_no(+) 
			AND op.product_no = p.product_no(+) 
			AND ob.order_from_branch_no=#{searchKeyword}
		</where>
		ORDER BY ob.order_from_branch_no DESC
	</select>
	
	<!-- [본사]주문물품 상태변경(출하완료, 출하대기, 출하취소)  -->
	<update	id="updateOrderFromBranchProductStatus" parameterType="orderFromBranchProduct" >
	   	UPDATE order_from_branch_product
	   	<set>
	   		order_branch_prod_status_code = #{orderFromBranchProductStatusCodeNo}
	   	</set>
	   	WHERE order_from_branch_no = #{orderFromBranchNo}
	   		  AND product_no = #{productNo}
	</update>

	<!-- [본사]주문물품 모두 출하완료인지 확인, 출하대기인 상품개수 return -->
	<select	id="selectOrderFromBranchProduct" parameterType="string" resultMap="orderFromBranchSelectMap" >
		SELECT	op.order_branch_product_numbering
			  , op.order_from_branch_no
			  , op.product_no, op.order_quantity
			  , op.order_price
			  , op.amount
			  , op.order_branch_prod_status_code 		
		FROM order_from_branch_product op 
		<where>
			order_from_branch_no = #{value} AND order_branch_prod_status_code='01'
		</where>
	</select>
	
</mapper>