<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ApprovalFormMapper">
 		
	<resultMap id="approvalFormSelectMap" type="approvalForm">
		<result property="approvalFormNo" 			column="APPROVAL_FORM_NO" 			jdbcType="VARCHAR"/>
		<result property="approvalFormTitle"	column="APPROVAL_FORM_NAME" 		jdbcType="VARCHAR" />
		<result property="approvalForm" 	column="APPROVAL_FORM" 		jdbcType="VARCHAR" />
		<result property="approvalFormUsageStatusCodeNo" 				column="FORM_USAGE_STATUS_CODE" 					jdbcType="VARCHAR" />
		<result property="approvalFormUsageStatusCodeName" 				column="usage_code_name" 					jdbcType="VARCHAR" />
		<result property="registrantEmployeeNo" 				column="REGISTRANT_EMPLOYEE_NO" 					jdbcType="VARCHAR" />
		<result property="registrantEmployeeName" 				column="REGISTRANT_EMPLOYEE_NAME" 					jdbcType="VARCHAR" />
		<result property="useCount" 				column="USE_COUNT" 					jdbcType="VARCHAR" />
		<result property="approverCount" 				column="APPROVER_COUNT" 					jdbcType="VARCHAR" />
	</resultMap>
	
	
	
	<!-- ////////////////////결재서양식///////////////////////////// -->
	<!-- 결재서양식 리스트 가져오기 -->
	<select	id="selectApprovalFormList" resultMap="approvalFormSelectMap">
		SELECT
			approval_form_no
		  , approval_form_name
		  , approval_form
		  , FORM_USAGE_STATUS_CODE
		  , CODE_FUNCTION('record', FORM_USAGE_STATUS_CODE) usage_code_name
		  , REGISTRANT_EMPLOYEE_NO
		  , REGISTRANT_EMPLOYEE_NAME
		  , use_count
		FROM approval_Form
		WHERE form_usage_status_code = '01'
		ORDER BY approval_form_no DESC
	</select>

	<!-- 결재서양식 등록하기, 복제하기 -->
	<insert 	id="insertApprovalForm"		parameterType="approvalForm" >
	 	INSERT
		INTO approval_form
			( 
			approval_form_no
		  , approval_form_name
		  , approval_form
		  , form_usage_status_code
		  , registrant_employee_no
		  , registrant_employee_name
		  , use_count
		  	) 
		VALUES 
			(	
			seq_approval_form_no.nextval
		  , #{approvalFormTitle} 
		  , #{approvalForm}
		  , '01'
		  , #{registrantEmployeeNo}
		  , #{registrantEmployeeName}
		  , '0' 
		 	 )
	</insert>
	
	<!-- 결재서양식 수정하기 -->
	<update id="updateApprovalForm" parameterType="approvalForm">
	   	UPDATE approval_form
	   	<set>
	   		approval_form_name = #{approvalFormTitle} ,
	   		approval_form = #{approvalForm} ,
	   		REGISTRANT_EMPLOYEE_NO = #{registrantEmployeeNo} ,
	   		REGISTRANT_EMPLOYEE_NAME = #{registrantEmployeeName} ,
	   	</set>
	   	WHERE approval_form_no = #{approvalFormNo}
	</update>
	
	<!-- 결재서양식 상세보기 -->
	<select	id="selectApprovalFormDetail" parameterType="string" resultMap="approvalFormSelectMap">
		SELECT
		approval_form_no, approval_form_name, approval_form, FORM_USAGE_STATUS_CODE, CODE_FUNCTION('record', FORM_USAGE_STATUS_CODE) usage_code_name, REGISTRANT_EMPLOYEE_NO, REGISTRANT_EMPLOYEE_NAME, use_count
		FROM approval_form
		WHERE approval_form_no = #{value}
	</select>
	
	<!-- 결재서양식 삭제, 복구하기 -->
	<update id="updateApprovalFormUsageStatus" parameterType="approvalForm">
	   	UPDATE approval_form
	   	<set>
	   		FORM_USAGE_STATUS_CODE = #{approvalFormUsageStatusCodeNo} ,
	   	</set>
	   	WHERE approval_form_no = #{approvalFormNo}
	</update>
	
	<!-- 결재서양식 useCount 올리기 -->
	<update id="updateApprovalFormUseCount" parameterType="string">
	   	UPDATE approval_form
	   	<set>
	   		USE_COUNT = use_count+1
	   	</set>
	   	WHERE approval_form_no = #{approvalFormNo}
	</update>
	

</mapper>