<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="DepartmentMapper">
	
	<resultMap id="DepartmentSelectMap" type="department">
		<result property="departCodeNo" column="DEPART_CODE_NO" jdbcType="VARCHAR"/>
		<result property="departCodeName" column="DEPART_CODE_NAME" jdbcType="VARCHAR"/>
		<result property="accessMenuCodeNo" column="ACCESS_MENU_CODE_NO" jdbcType="VARCHAR"/>
		<result property="accessMenuCodeName" column="ACCESS_MENU_CODE_NAME" jdbcType="VARCHAR"/>
		<result property="departUsageStatusCodeNo" column="USAGE_STATUS_CODE_NO" jdbcType="VARCHAR"/>
		<result property="departUsageStatusCodeName" column="USAGE_STATUS_CODE_NAME" jdbcType="VARCHAR"/>
		<result property="departInfo" column="DEPART_INFO" jdbcType="VARCHAR"/>
		<result property="countEmployee" column="COUNT_EMPLOYEE" jdbcType="VARCHAR"/>
	</resultMap>

	<insert id="insertDepartmnet" parameterType="department">
		INSERT
		  INTO	DEPARTMENT
		  			(
		  			DEPART_NUMBERING
		  		,	DEPART_CODE_NO
		  		,	ACCESS_MENU_CODE_NO
		  		,	USAGE_STATUS_CODE_NO
		  		,	DEPART_INFO
		  			)
		VALUES	
					(
					SEQ_DEPARTMENT_NUMBERING.NEXTVAL
				,	#{departCodeNo}
				,	#{accessMenuCodeNo}
				,	#{departUsageStatusCodeNo}
				,	#{departInfo}
					)
	</insert>
	
	<select id="selectDepartmentList" parameterType="search" resultMap="DepartmentSelectMap">
		SELECT	DISTINCT
                DEPART_CODE_NO
				 ,	CODE_FUNCTION('depart',d.DEPART_CODE_NO) AS DEPART_CODE_NAME
				 ,	d.ACCESS_MENU_CODE_NO
				 ,	CODE_FUNCTION('accessMenu',d.ACCESS_MENU_CODE_NO) AS ACCESS_MENU_CODE_NAME
				 ,	d.USAGE_STATUS_CODE_NO
				 ,	CODE_FUNCTION('record',d.USAGE_STATUS_CODE_NO) AS USAGE_STATUS_CODE_NAME
				 ,	d.DEPART_INFO
				 ,  COUNT_EMPLOYEE_FUNCTION(d.DEPART_CODE_NO) AS COUNT_EMPLOYEE
		  FROM	DEPARTMENT d, CODE c
		<where>
				 d.DEPART_CODE_NO				=	c.CODE_NO
			  	 AND 	c.CODE_USAGE_STATUS		=	'Y'
			<!-- <choose>
				<when test="searchCondition == null">
				 AND	USAGE_STATUS_CODE_NO	=	'01'
				</when>
				<when test="searchCondition != null">
				 AND	USAGE_STATUS_CODE_NO	=	'02'
				</when>
			</choose> -->
		</where>
	  ORDER BY	d.DEPART_CODE_NO ASC
	</select>
	
	<update id="updateDepartment" parameterType="department">
		UPDATE	DEPARTMENT
		   SET	ACCESS_MENU_CODE_NO		=	#{accessMenuCodeNo}
	   	 WHERE	DEPART_CODE_NO	=	#{departCodeNo}
	</update>
	
	<update id="updateDepartmentUsageStatus" parameterType="department">
		UPDATE	DEPARTMENT
		   SET	USAGE_STATUS_CODE_NO		=	#{departUsageStatusCodeNo}
		 WHERE	DEPART_CODE_NO				=	#{departCodeNo}
	</update>

</mapper>