<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		
		
<mapper namespace="WorkAttitudeCodeMapper">

	<resultMap id="WorkAttitudeCodeSelectMap" type="workAttitudeCode">
		<result property="workAttitudeCodeNo" column="WORK_ATTITUDE_CODE" jdbcType="VARCHAR"/>
		<result property="workAttitudeCodeName" column="WORK_ATTITUDE_CODE_NAME" jdbcType="VARCHAR"/>
		<result property="commuteApplyCode" column="COMMUTE_APPLY_CODE" jdbcType="VARCHAR"/>
		<result property="applyStartTime" column="APPLY_START_TIME" jdbcType="VARCHAR"/>
		<result property="applyEndTime" column="APPLY_END_TIME" jdbcType="VARCHAR"/>
		<result property="workType" column="WORK_TYPE" jdbcType="VARCHAR"/>
		<result property="workDayOfWeek" column="WORK_DAY_OF_WEEK" jdbcType="VARCHAR"/>
		<result property="workDayOfWeekName" column="WORK_DAY_OF_WEEK_NAME" jdbcType="VARCHAR"/>
		<result property="usageStatusCodeNo" column="USAGE_STATUS_CODE_NO" jdbcType="VARCHAR"/>
	</resultMap>

	<insert id="insertWorkAttitudeCode" parameterType="workAttitudeCode">
		INSERT
		  INTO	WORK_ATTITUDE_CODE
		  			(
		  			WORK_ATTITUDE_CODE
		  		,	WORK_ATTITUDE_CODE_NAME
		  		,	COMMUTE_APPLY_CODE
		  		,	APPLY_START_TIME
		  		,	APPLY_END_TIME
		  		,	WORK_TYPE
		  		,	WORK_DAY_OF_WEEK
		  		,	USAGE_STATUS_CODE_NO
		  			)
		VALUES	
					(
					#{workAttitudeCodeNo}
				,	#{workAttitudeCodeName}
				,	#{commuteApplyCode}
				,	#{applyStartTime:VARCHAR}
				,	#{applyEndTime:VARCHAR}
				,	#{workType:VARCHAR}
				,	#{workDayOfWeek:VARCHAR}
				,	#{usageStatusCodeNo}
					)
	</insert>
	
	<select id="selectWorkAttitudeCode" parameterType="string" resultMap="WorkAttitudeCodeSelectMap">
		SELECT	WORK_ATTITUDE_CODE
	 		 ,	WORK_ATTITUDE_CODE_NAME
	 		 ,	COMMUTE_APPLY_CODE
	 		 ,	APPLY_START_TIME
	 		 ,	APPLY_END_TIME
	 		 ,	WORK_TYPE
	 		 ,	WORK_DAY_OF_WEEK
	 		 ,	CODE_FUNCTION('workDayOfWeek', WORK_DAY_OF_WEEK) AS WORK_DAY_OF_WEEK_NAME
	 	  FROM	WORK_ATTITUDE_CODE
	 	 WHERE	WORK_ATTITUDE_CODE	=	#{value}
	</select>
	
	<select id="selectWorkAttitudeCodeList" parameterType="search" resultMap="WorkAttitudeCodeSelectMap">
	 	SELECT	WORK_ATTITUDE_CODE
	 		 ,	WORK_ATTITUDE_CODE_NAME
	 		 ,	COMMUTE_APPLY_CODE
	 		 ,	APPLY_START_TIME
	 		 ,	APPLY_END_TIME
	 		 ,	WORK_TYPE
	 		 ,	WORK_DAY_OF_WEEK
	 		 ,	CODE_FUNCTION('workDayOfWeek', WORK_DAY_OF_WEEK) AS WORK_DAY_OF_WEEK_NAME
	 		 ,	USAGE_STATUS_CODE_NO
	 	  FROM	WORK_ATTITUDE_CODE
	   <where>
	   		<choose>
	   			<when test="searchCondition == null">
	   				USAGE_STATUS_CODE_NO	=	'01'
	   			</when>
	   			<when test="searchCondition != null">
	   				USAGE_STATUS_CODE_NO	=	'02'
	   			</when>
	   		</choose>
	   		<if test="searchKeyword != null">
	   		AND	(WORK_ATTITUDE_CODE		LIKE ('%'||#{searchKeyword}||'%')
	   		 OR	WORK_ATTITUDE_CODE_NAME	LIKE ('%'||#{searchKeyword}||'%'))	
	   		</if>
	   </where>
	   ORDER BY	WORK_ATTITUDE_CODE DESC
	</select>
	
	<update id="updateWorkAttitudeCode" parameterType="workAttitudeCode">
		UPDATE	WORK_ATTITUDE_CODE
		   SET	WORK_ATTITUDE_CODE_NAME		=	#{workAttitudeCodeName}
		   	 ,	COMMUTE_APPLY_CODE			=	#{commuteApplyCode}
		   	 ,	APPLY_START_TIME			=	#{applyStartTime}
		   	 ,	APPLY_END_TIME				=	#{applyEndTime}
		   	 ,	WORK_TYPE					=	#{workType}
		   	 ,	WORK_DAY_OF_WEEK			=	#{workDayOfWeek}
		   	 ,	USAGE_STATUS_CODE_NO		=	#{usageStatusCodeNo}
	   <where>
	   			WORK_ATTITUDE_CODE			=	#{workAttitudeCodeNo}
	   </where>
	</update>
	
	<update id="updateWorkAttitudeCodeUsageStatus" parameterType="workAttitudeCode">
		UPDATE	WORK_ATTITUDE_CODE
		   SET	USAGE_STATUS_CODE_NO	=	#{usageStatusCodeNo}	
	   <where>
	   			WORK_ATTITUDE_CODE		=	#{workAttitudeCodeNo}
	   </where>
	</update>

</mapper>