<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ProductMapper">

	<resultMap id="ProductSelectMap" type="product">
		<result property="productNo" column="PRODUCT_NO"
			jdbcType="VARCHAR" />
		<result property="productName" column="PRODUCT_NAME"
			jdbcType="VARCHAR" />
		<result property="purchasePrice" column="PURCHASE_PRICE"
			jdbcType="VARCHAR" />
		<result property="salesPrice" column="SALES_PRICE"
			jdbcType="VARCHAR" />
		<result property="quantity" column="QUANTITY"
			jdbcType="VARCHAR" />
		<result property="vendorNo" column="VENDOR_NO"
			jdbcType="VARCHAR" />
			<result property="vendorName" column="VENDOR_NAME"
			jdbcType="VARCHAR" />
		<result property="productUsageStatusCodeNo"
			column="USAGE_STATUS_CODE_NO" jdbcType="VARCHAR" />
		<result property="productUsageStatusCodeName"
			column="USAGE_STATUS_CODE_NAME" jdbcType="VARCHAR" />
	</resultMap>

	<insert id="insertProduct" parameterType="product">
		INSERT
		INTO product
		(
		PRODUCT_NO,
		PRODUCT_NAME,
		PURCHASE_PRICE,
		SALES_PRICE,
		QUANTITY,
		VENDOR_NO,
		VENDOR_NAME,
		USAGE_STATUS_CODE_NO
		)
		VALUES
		(
		seq_product_no.nextval,
		#{productName},
		#{purchasePrice},
		#{salesPrice},
		#{quantity},
		#{vendorNo},
		#{vendorName},
		#{productUsageStatusCodeNo}
		)
	</insert>

	<update id="updateProduct" parameterType="product">
		UPDATE product
		<set>
			PRODUCT_NAME = #{productName},
			PURCHASE_PRICE = #{purchasePrice},
			SALES_PRICE = #{salesPrice},
			QUANTITY = #{quantity}
		</set>
		WHERE PRODUCT_NO = #{productNo}
	</update>

	<update id="updateUsageStatus" parameterType="product">
		UPDATE product
		<set>
			<if test="productUsageStatusCodeNo == '02'">
				USAGE_STATUS_CODE_NO = '01'
			</if>
			<if test="productUsageStatusCodeNo == '01'">
				USAGE_STATUS_CODE_NO = '02'
			</if>
		</set>
		WHERE PRODUCT_NO = #{productNo}
	</update>

	<select id="selectproductList" resultMap="ProductSelectMap">
      SELECT 
      PRODUCT_NO,
      PRODUCT_NAME,
      PURCHASE_PRICE,
      SALES_PRICE,
      QUANTITY,
	  vendor_Name,
	  vendor_No
	  
      FROM product
      
      WHERE
      
      USAGE_STATUS_CODE_NO = '01'
      
      ORDER BY PRODUCT_NO DESC
      
   </select>

	<select id="selectDetailProduct" parameterType="string"
		resultMap="ProductSelectMap">
		SELECT PRODUCT_NO,
		PRODUCT_NAME,
		PURCHASE_PRICE,
		SALES_PRICE,
		QUANTITY,
		VENDOR_NO,
		USAGE_STATUS_CODE_NO,
		CODE_FUNCTION('record',
		USAGE_STATUS_CODE_NO) AS USAGE_STATUS_CODE_NAME

		FROM product
		WHERE
		PRODUCT_NO = #{value}
	</select>
	
	
	<update id="updateProductCount" parameterType="product">
		UPDATE product
		<set>
			QUANTITY = QUANTITY + #{quantity}
		</set>
		WHERE PRODUCT_NO = #{productNo}
	</update>


</mapper>